/suanfa/image
/suanfa/results
/suanfa/ch_ppocr_mobile_v2.0_cls_infer
/suanfa/ch_ppocr_server_v2.0_rec_infer
/nftfansbot.session
my_utils/__pycache__/MysqlUtility.cpython-39.pyc
paddleORC_model/ch_ppocr_server_v2.0_det_infer/inference.pdiparams
paddleORC_model/ch_ppocr_server_v2.0_det_infer/inference.pdiparams.info
paddleORC_model/ch_ppocr_server_v2.0_det_infer/inference.pdmodel
kjjjkljklbot.session
biz-gps-kafka-pazlpush.log.2023-07-28.99
autogen/.cache/41/cache.db
.vscode/PythonImportHelper-v2-Completion.json
huggingface/outputs/logging.jsonl
huggingface/outputs/checkpoint-21/configuration.json
huggingface/outputs/checkpoint-21/optimizer.pt
huggingface/outputs/checkpoint-21/README.md
huggingface/outputs/checkpoint-21/rng_state.pth
huggingface/outputs/checkpoint-21/scheduler.pt
huggingface/outputs/checkpoint-21/trainer_state.json
huggingface/outputs/checkpoint-21/training_args.bin
huggingface/outputs/checkpoint-21/default/adapter_config.json
huggingface/outputs/checkpoint-21/default/adapter_model.safetensors
huggingface/outputs/runs/Jan19_14-03-56_DESKTOP-OFBG8FT/events.out.tfevents.1705644239.DESKTOP-OFBG8FT.23428.0
huggingface/wandb/run-20240119_142654-obssbjx1/run-obssbjx1.wandb
huggingface/wandb/run-20240119_142654-obssbjx1/files/config.yaml
huggingface/wandb/run-20240119_142654-obssbjx1/files/output.log
huggingface/wandb/run-20240119_142654-obssbjx1/files/requirements.txt
huggingface/wandb/run-20240119_142654-obssbjx1/files/wandb-metadata.json
huggingface/wandb/run-20240119_142654-obssbjx1/files/wandb-summary.json
huggingface/wandb/run-20240119_142654-obssbjx1/logs/debug-internal.log
huggingface/wandb/run-20240119_142654-obssbjx1/logs/debug.log
modelScope/outputs/logging.jsonl
modelScope/outputs/checkpoint-21/configuration.json
modelScope/outputs/checkpoint-21/optimizer.pt
modelScope/outputs/checkpoint-21/README.md
modelScope/outputs/checkpoint-21/rng_state.pth
modelScope/outputs/checkpoint-21/scheduler.pt
modelScope/outputs/checkpoint-21/trainer_state.json
modelScope/outputs/checkpoint-21/training_args.bin
modelScope/outputs/checkpoint-21/default/adapter_config.json
modelScope/outputs/checkpoint-21/default/adapter_model.safetensors
modelScope/outputs/runs/Jan19_17-18-52_DESKTOP-OFBG8FT/events.out.tfevents.1705655939.DESKTOP-OFBG8FT.6172.0
modelScope/wandb/run-20240119_171911-9ufjgabx/run-9ufjgabx.wandb
modelScope/wandb/run-20240119_171911-9ufjgabx/files/config.yaml
modelScope/wandb/run-20240119_171911-9ufjgabx/files/output.log
modelScope/wandb/run-20240119_171911-9ufjgabx/files/requirements.txt
modelScope/wandb/run-20240119_171911-9ufjgabx/files/wandb-metadata.json
modelScope/wandb/run-20240119_171911-9ufjgabx/files/wandb-summary.json
modelScope/wandb/run-20240119_171911-9ufjgabx/logs/debug-internal.log
modelScope/wandb/run-20240119_171911-9ufjgabx/logs/debug.log
