*.h5 filter=lfs diff=lfs merge=lfs -text
或者 filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
model.h5 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
